[submodule "boltz"]
	path = boltz
	url = https://github.com/jwohlwend/boltz.git
[submodule "e1"]
	path = e1
	url = https://github.com/Profluent-AI/E1.git
[submodule "esm"]
	path = esm
	url = https://github.com/evolutionaryscale/esm.git
[submodule "dplm"]
	path = dplm
	url = https://github.com/bytedance/dplm.git
