torch # these are installed in the Dockerfile
torchvision # these are installed in the Dockerfile
matplotlib
transformers>=5.0.0s
datasets
hf_transfer
hf-xet
numpy
einops
esm
scikit-learn
scipy
seaborn
peft
accelerate
biotite
networkx
omegaconf
rich
trifast