torch>=2.5.1 # this is force reinstalled in the Dockerfile with cuda
matplotlib
# standard
numpy
einops
scikit-learn
scipy
seaborn
# huggingface
transformers>=5.0.0
accelerate
datasets
hf_transfer
hf-xet
peft
# embedding mixin
networkx
# for boltz
omegaconf
rich
trifast